/* Estilos para el encabezado h1 */
*{
    margin: 0;
    padding: 0;
}

h1 {
    color: blue;
    font-size: 24px;
    margin-left: 100px;
}

/* Estilos para los párrafos */
p {
    color: gray;
    font-size: 16px;
}

/* Estilos para el contenedor */
.container {
    background-color: lightgray;
    padding: 10px;
    margin-top: 20px;
}
